html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: '微軟正黑體';
    background-color: #e6e6e6;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.input-wrapper {
    position: relative;
    /* left: calc(50% - 125px);
    width: 250px;
    padding-top: 25px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input {
    width: 250px;
    padding: 6px 10px 6px 10px;
    border:2px #d9d9d9 solid;
    border-radius: 50px;
    font-size: 17px;
    transition: .5s;
}
input:focus {
    width: 300px;
}
.suggest {
    width: 100%;
}
ul {
    width: 100%;
    padding: 0;
    list-style: none;
    background-color: hsl(15, 0%, 100%);
    margin-top: 5px;
}
li {
    padding:3px;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
}
li:first-child {
    border-top: 1px solid #d9d9d9;
}
li:last-child {
    border-bottom: 1px solid #d9d9d9;
}
#list:hover {
    background-color: #e6f2ff;
    cursor: pointer;
}
.output {
    margin: 1px 10px 0px 10px;
    padding-left: 5px;
    padding-right: 5px;
}
p:first-child {
    padding-top: 7px;
}
p:only-child {
    padding-top: 7px;
}
a {
    text-decoration:none;
    color: #0099ff;
}
a:hover {
    font-size: 20px;
}
img {
    float: left;
    margin-right: 7px;
}